.header, .header-color-top {
    width: 100%;
    position: absolute;
    display: block;
}
.header {
    background: #0091af;
    right: 0;
    top: 0;
    height: 50px;
    font-family: tahoma;
    z-index: 10;
    .header-color-top {
        background: url(/assets/images/header-top-bg.png);
        height: 4px;
    }
    .el-left {
        float: left;
        width: 29%;
        height: 45px;
        display: inline-block;
        color: #fff;
        line-height: 20px;
        position: relative;
        top: 5px;
       .advertising {
            height: 100%;
            display: inline-block;
            width: 140px;
            float: right;
            .logo-horse {
                background: #e5e5e5;
                transform: skew(-18deg);
                height: 100%;
                width: 45px;
                float: left;
                
                .img-horse {
                position: relative;
                top: 11%;
                left: 7px;
                float: left;
                height: 75%;
                transform: skew(12deg);
                }
                span {
                color: #0091af;
                font-family: tahoma;
                font-size: .95rem;
                }
            }
            .logo-horse:hover {
            width: 100%;
            transition: width .5s linear 1s;
            }
        }
        .user-details {
            float: right;
            width: 48%;
            line-height: 22px;
            padding-inline-start: 15px;
            .user {
                text-align: right;
                white-space: nowrap;
                font-size: .8rem;      
            }
            hr {
                margin: 0;
                padding: 0;
                width: 100%;
                border: solid #ddd;
                border-width: 1px 0 0;
            }
            .nahabarg {
                a {
                    text-decoration: none;
                    font-size: .9rem;
                    text-align: right;
                    color: #fff;
                } 
            }
        }
        .img-pro {
            display: inline-block;
            position: absolute;
            top: 2px;
            .business-m {
                width: 37px;
                height: 35px;
                border: 1px solid #ddd;
                border-radius: 50px;
                margin-top: 3px;
            }
        }
        .home-logo {
            float: left;
            position: absolute;
            top: 13px;
            left: 65px;
        }
        .logo-out {
            float: left;
            float: left;
            position: absolute;
            top: 15px;
            left: 6px;
            #logoutModel {
                text-decoration: none;
                span {
                   float: left;
                   color: #fff;
                   font-family: tahoma;
                   font-size: 0.8rem;
                   font-weight: 500;
                   line-height: 14px;
                   padding-inline-start: 5px;
                }
            }
        }
    }
    .el-right {
        float: right;
        direction: rtl;
        width: 60%;
        height: 100%;
        .menu-burger {
            display: none;
        }
        .message, .logo-img {
            float: right;
            display: inline-block;
        }
        .logo-img { 
            margin-top: 10px;
            margin-right: 10px;
        }
        .message {
            position: relative;
            top: 15px;
            right: 38px; 
        }
        .menu-header {
            float: right;
            width: 65%;
            height: 100%;
            margin-inline-start: 6%;
            .title-menu {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%; 
                font-size: .9rem;
                .i-title-menu {
                    float: right;
                    transition: all .5s;
                    &:hover:not(li:first-child) {
                        background: #7abece;
                        cursor: pointer;
                    }
                    &:hover:first-child a{
                        background: #fbfbfb;
                        color: #868686;
                    }
                    &:hover .sub-menu{
                        display: block;
                    }
                    .title-menuheader {
                        display: block;
                        text-align: center;
                        padding: 17px 24px;
                        text-decoration: none;
                        color: #fff;
                    }
                    .sub-menu {
                        display: none;
                        position: absolute;
                        list-style: none;
                        background: #fbfbfb;
                        box-shadow: 0 0 10px #d6d6d6;
                        font-family: tahoma;
                        color: #9197a8;
                        font-size: .8rem;
                        padding-inline-start: 0;
                        .item-sub-menu {
                            height: 40px;
                            border-bottom: 1px solid #eaeaea;
                            transition: all .3s ease
                            ;
                            &:hover {
                                background: #575656;
                                color: #fff;
                            }  
                            .title-sub-menu {
                                display: block;
                                padding-inline: 20px;
                                padding-block-start: 10px;
                                text-decoration: none;
                            }
                        }
                    }
                }
               
            }       
        }
    }
}
@media screen and (max-width: 768px) {
   .header {
        .el-left, .el-right {
            width: 50% !important;
        }
        .el-right {
            .menu-burger {
                display: block;
                margin: 0;
                padding: 0;
                margin-top: .8rem;
                margin-right: .6rem;
            }
        .logo-img {
            margin: 0 !important;
            position: relative;
            top: -2rem;
            right: 3rem;
        }
        .message {
            right: 3rem !important;
            top: -1.7rem !important;
        }
        .menu-header {
            display: none;
            height: 350px !important;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #474747;
            position: absolute;
            width: 150px;
            background: #2ba4bd;
            top: 51px;
            right: -3rem;
            &.active {
                display: block;
            }
            .title-menu {
                list-style: none;
                margin: 0;
                padding: 0;
                .i-title-menu {
                    width: 100% !important;
                    .title-menuheader {
                    font-size: .75rem !important;
                    text-align: right !important;
                    }
                    .sub-menu {
                        margin-top: -48px;
                        right: 150px !important;
                        width: 150px !important;
                        font-size: .7rem !important;
                    }
                }
            }
        }
        }
        .el-left {
            .user-details{
                width: 35%;
                .user {
                    font-size: .7rem ;
                }
                .nahabarg {
                    a {
                        font-size: .7rem ;
                    }
                }   
            }
            .img-pro {
                top: 6px !important;
                .business-m {
                    width: 25px !important;
                    height: 25px !important;
                } 
            }
            .logo-out {
                #logoutModel {
                    .logout {
                    width: 15px !important;
                    }
                }
            }
            .home-logo {
                top: 15px !important;
                left: 3.8rem;
                img {
                width: 17px !important;
                }
            }
        }
   } 
}
@media screen and (max-width: 720px) {
    .el-left {
        .advertising  {
            display: none !important;
        }
        .menu-header {
            right:-2rem !important;
        }
        .user-details {
            display: none;  
        }
        .img-pro {
            left: 30%;
        }
        .home-logo {
            left: 1.8rem !important;
        }
        .logo-out {
            span {
                display: none;
            }
        }
        .message {
            img {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
}
