// .header {
//     width: 100%;
//     right: 0;
//     position: fixed;
//     top: 0;
//     height: 50px;
//     background: #0091af;
//     color: #fff;
//     // z-index: 99;
//     font-family: Tahoma;
//     margin-bottom: 1em;
    

//     .header-color-top {
//         background: url(/assets/images/header-top-bg.png);
//         height: 4px;
//         width: 100%;
//         z-index: 10001;
//         position: absolute;
//         display: block;
//     }

//     .header-top {
//         height: 0;
//         float: left;
//         // padding-top: 0;
//         // padding-bottom: 0;
//         // overflow: hidden;
//         // max-width: 100%;
//         border-bottom: 2px solid #e5e5e5;

//         .user {
//             position: absolute;
            


//             .user-details {

//             }

//             hr {
//                 border: solid #ddd;
//                 border-width: 1px 0 0;
//                 display: block;
//                 unicode-bidi: isolate;
//                 overflow: hidden;
//             }

//         }

//         .right {
//             float: right;
    
//             ul {
//                 // margin-right: 20px;
//                 display: flex;
//                 list-style: none;
//                 margin-top: 0;
//                 display: none;
    
        
//                 li {
//                     // border: 1px solid #000;
//                     padding: 15px;
//                     // transition: all .5s;
//                 }
        
//                 li:hover {
//                     background: #b2dce4;
//                     cursor: pointer;
                   
//                 }
        
               
//              }
        
//             .logo {
//                 position: fixed;
//                 top: 0;
//                 margin-top: 12px;
//                 display: none;
//             }
        
            
//         }

       
//     }

   
//      .message {
//         margin: 0;
//         transform: translateY(-55px);

        
//     }
// }

.header {
    background: #0091af;
    width: 100%;
    right: 0;
    position: absolute;
    top: 0;
    height: 50px;
    font-family: tahoma;
    z-index: 10;
    
    


    .header-color-top {
        background: url(/assets/images/header-top-bg.png);
        height: 4px;
        width: 100%;
        position: absolute;
        display: block;
    }

    .el-left {
        
        float: left;
        width: 29%;
        height: 45px;
        display: inline-block;
        color: #fff;
        line-height: 20px;
        position: relative;
        top: 5px;
        // transform: translate(-12px , 5px);
       .advertising {
            height: 100%;
            display: inline-block;
            width: 140px;
            float: right;
            .logo-horse {
                background: #e5e5e5;
                transform: skew(-18deg);
                height: 100%;
                width: 45px;
                float: left;
                // position: relative;
                // left: -20px;
                .img-horse {
                position: relative;
                top: 11%;
                left: 7px;
                float: left;
                height: 75%;
                transform: skew(12deg);
                }
                span {
                color: #0091af;
                font-family: tahoma;
                font-size: .95rem;
                }
            }
            .logo-horse:hover {
            width: 100%;
            transition: width .5s linear 1s;
            }
        }


        .user-details {
            float: right;
            width: 48%;
            line-height: 22px;
            padding-inline-start: 15px;
            .user {
                text-align: right;
                white-space: nowrap;
                font-size: .8rem;
                
               
                
            }

            hr {
                margin: 0;
                padding: 0;
                width: 100%;
                border: solid #ddd;
                border-width: 1px 0 0;
            }

            .nahabarg {

                a {
                    text-decoration: none;
                    font-size: .9rem;
                    text-align: right;
                    color: #fff;
                }
                
            }
    
        }

       .img-pro {
            display: inline-block;
            position: absolute;
            top: 2px;
            .business-m {
                width: 37px;
                height: 35px;
                border: 1px solid #ddd;
                border-radius: 50px;
                margin-top: 3px;
            // float: left; 
            }
        }
        .home-logo {
            float: left;
            position: absolute;
            top: 13px;
            left: 65px;
           
        }
        .logo-out {
            float: left;
            float: left;
            position: absolute;
            top: 15px;
            left: 6px;
            #logoutModel {
                text-decoration: none;
                span {
                   float: left;
                   color: #fff;
                   font-family: tahoma;
                   font-size: 0.8rem;
                   font-weight: 500;
                   line-height: 14px;
                   padding-inline-start: 5px;
                }
            
            }
        }
    }

    .el-right {
        float: right;
        direction: rtl;
        width: 60%;
        height: 100%;
        .menu-hum {
            display: none;
        }
        
        .logo-img {
            float: right;
            margin-top: 10px;
            margin-right: 10px;
            display: inline-block;
        }

        .message {
            float: right;
            position: relative;
            top: 15px;
            right: 38px;
            display: inline-block;
        }

        .menu-header {
            float: right;
            width: 65%;
            height: 100%;
            margin-inline-start: 6%;
            .title-menu {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%; 
                font-size: .9rem;
                .i-title-menu {
                    float: right;
                    transition: all .5s;
        
                    .title-menuheader {
                        display: block;
                        text-align: center;
                        padding: 17px 24px;
                        text-decoration: none;
                        color: #fff;
                    }
                    &:hover:not(li:first-child) {
                        background: #7abece;
                        cursor: pointer;
                    }
                    &:hover:first-child a{
                        background: #fbfbfb;
                        color: #868686;
                    }

                    &:hover .sub-menu{
                        display: block;
                    }
                    .sub-menu {
                        display: none;
                        position: absolute;
                        list-style: none;
                        background: #fbfbfb;
                        box-shadow: 0 0 10px #d6d6d6;
                        font-family: tahoma;
                        color: #9197a8;
                        font-size: .8rem;

                        padding-inline-start: 0;
                        .item-sub-menu {
                            height: 40px;
                            border-bottom: 1px solid #eaeaea;
                            .title-sub-menu {
                                display: block;
                                padding-inline: 20px;
                                padding-block-start: 10px;
                                text-decoration: none;
                            }
                            &:hover {
                                background: #474747;
                                color: #fff;
                               
                            }  
                        }
                    }
                }
               
            }
    
                

               
        }
    }


    }
@media screen and (max-width: 768px) {
   .header {
   
    .el-right {
        width: 50% !important;
        // display: flex;
        .menu-hum {
            display: block;
            margin: 0;
            padding: 0;
            margin-top: .8rem;
            margin-right: .6rem;
        }
        .logo-img {
            margin: 0 !important;
            position: relative;
            top: -2rem;
            right: 3rem;
            // right: 4rem !important;
        }
        .message {
            right: 3rem !important;
            top: -1.7rem !important;
            // right: 1rem !important;
        }
        .menu-header {
            display: none;
            height: 350px !important;
            // height: 560px !important;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #474747;
            position: absolute;
            width: 150px;
            background: #2ba4bd;
            top: 51px;
            right: -3rem;
            &.active {
                display: block;
            }
        }
        .title-menu {
            list-style: none;
            margin: 0;
            padding: 0; 
            .i-title-menu {
                width: 100% !important;
                .title-menuheader {
                font-size: .75rem !important;
                text-align: right !important;
                // &:hover .sub-menu{
                //     display: block;
                // }
                }
                .sub-menu {
                    margin-top: -48px;
                    right: 150px !important;
                    width: 150px !important;
                    font-size: .7rem !important;
                    // &:last-child {
                    //     height: 270px !important;
                    //     overflow-y: scroll;
                    // } 
                }


            }
        }
    }
    .el-left {
       width: 50% !important;
       .user-details{
        width: 35% !important;
        .user {
            font-size: .7rem !important;
        }
        .nahabarg-hr {
            // width: 70% !important;
           }
           .nahabarg {
            a {
                font-size: .7rem !important;
            }
           }
       }
      
       .logo-out {
        #logoutModel {
            .logout {
                width: 15px !important;
            }
            span {

            }
        }
       }
       .home-logo {
        top: 15px !important;
        left: 3.8rem !important;
        img {
            width: 17px !important;
        }
       }
       .img-pro {
        top: 6px !important;
        .business-m {
            // margin-top: 7px !important;
            width: 25px !important;
            height: 25px !important;
           } 
       }
    }
   }
   
}
