<div class="investment">
    <div class="header">
        <img src="https://icongr.am/simple/svgo.svg?color=1c9ad5" alt="">
        <div class="title">سرمایه&zwnj;گزار حرفه&zwnj;</div>
    </div>
    <div class="text">
        <div class="desc">امکان معامله در برخی نمادهای خاص تنها توسط سرمایه گذاران حرفه‌ای امکان پذیر است، به منظور معامله در نمادهای مذکور بایستی شرایط سرمایه گذار حرفه ای برای مشتریان احراز شود، به منظور مطالعه این شرایط روی گزینه بیشتر کلیک نمایید.</div>
        <a href="">بیشتر</a>
    </div>
    <div class="information">
        <div class="right">کاربری:</div>
        <div class="left">عادی</div>
    </div>
    <div class="information">
        <div class="right">وضعیت درخواست:</div>
        <div class="left">رد شده</div>
    </div>
    <div class="information">
        <div class="right-text">دلیل:</div>
        <div class="left-text">مدرک درستی بارگذاری نشده است</div>
    </div>
    <br>
    <a class="btn-record" href="">ثبت درخواست</a>
</div>
