.todays-deals {
    font-family: tahoma;
    width: 100%;
    font-size: 0.7rem;
    color: #333;
    line-height: 1.3rem;
    display: grid;
    grid-template-columns: auto auto;
    .table-buy, .table-sell {
        margin-inline: 2px;
        border-radius: 3px;
        text-align: center;
        div {
            height: 100%;
            border-left: 1px solid #fff;
            display: inline-block;
        }
        .symbol {
            height: 100%;
            width: 12%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 90% center no-repeat;
        }
        .sale, .buy {
            width: 24%;
        }
        .trans {
            width: 23%;
        }
        .average {
            width: 20%;
        }
        .pure {
            width: 20%;
            border-left: none;
         }
    }
    .table-buy {
        background: #baf5da;
        padding: 0;
    }
    .table-sell {
        background: #ffb4ae;        
    }
}


@media screen and (max-width: 768px) {
    .todays-deals {
        grid-template-columns: auto !important;
        grid-row-gap: 4px;
    }       
}
@media screen and (max-width: 720px) {
    .todays-deals {
        font-size: .55rem !important;
    }
}