<div class="todays-deals">
    <div class="table-buy">
        <!-- <div class="table-cell"></div> -->
        <div class="table-cell symbol">نماد</div>
        <div class="table-cell buy">خرید درجریان(تعداد)</div>
        <div class="table-cell trans">معامله شده</div>
        <div class="table-cell average">میانگین</div>
        <div class="table-cell pure">خالص خرید</div>
    </div>
    <div class="table-sell">
        <!-- <div class="table-cell"></div> -->
        <div class="table-cell symbol">نماد</div>
        <div class="table-cell sale">فروش درجریان(تعداد)</div>
        <div class="table-cell trans">معامله شده</div>
        <div class="table-cell average">میانگین</div>
        <div class="table-cell pure">خالص فروش</div>
    </div>
</div>
