<div class="todays-deals">
    <div class="table-buy">
    
                <div class="table-cell symbol">نماد</div>
                <div class="table-cell volume">خرید درجریان(تعداد)</div>
                <div class="table-cell price">معامله شده</div>
                <div class="table-cell validity">میانگین</div>
                <div class="table-cell operation">خالص خرید</div>
       
    </div>
    <div class="table-sell">
        <div class="table-cell symbol">نماد</div>
        <div class="table-cell volume">فروش درجریان(تعداد)</div>
        <div class="table-cell demand">معامله شده</div>
        <div class="table-cell price">میانگین</div>
        <div class="table-cell operation">خالص فروش</div>
    </div>
</div>
