div {
    font-family: tahoma;
    text-align: center;
    .header {
        height: auto;
        padding: 2px 0 0;
        margin: 0;
        width: 53%;
        span {
            position: absolute;
            right: 5px;
            top: 1rem;
            input {
                border: 1px solid #ccc;
                border-radius: 3px;
            }
            img {
                position: absolute;
                left: 0.5em;
                top: 0.3rem;    
            }
        }
    }
    .tabs {
        margin-top: 5rem; 
        height: 25px; 
        .col {
            height: 100%;
            width: 33.33%;
            display: inline-block;
        }
    }
    .tabs .col{
        cursor: pointer;
        padding: 3px;
        color: #333;
        background: #ebebeb;
        opacity: .5;
        border: 1px solid #d9d9d9;
        font-size: .75rem;   
    }
    .text {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px) {
    img {
        top: 0;
    } 
    
}
@media screen and (max-width: 335px){
    .text {
        display: none;
    }
}