.draft-order {
    line-height: 1.3rem;
    font-size: 0.75rem;
    font-family: tahoma;
    color: #333;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    .table-buy, .table-sell {
        border-radius: 3px;
        margin-inline: 2px;
        div {
            height: 100%;
            border-left: 1px solid #fff;
            display: inline-block;
        }
        .table-cell:first-child {
            border-left: 0;
            width: 15px;
            input {
                margin: 0;
                position: relative;
                top: 2px;
                left: 2px;  
            }
        }
        .symbol {
            width: 11%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 99% center no-repeat;
        }
        .volume {
            width: 22%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .price {
            width: 22%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .supply, .demand {
            width: 17%;
        }
        .validity {
            width: 12%;
        }
        .operation {
           width: 13.5%;
           border-left: none;
        }
    }
    .table-buy {
        background: #baf5da;
        div {
            margin: 0;
        }
    }
    .table-sell {
        background: #ffb4ae;
        }
}
    @media screen and (max-width: 768px) {
      .draft-order {
        grid-template-columns: auto;
        grid-row-gap: 4px;
        .symbol {
            // width: 10% !important;
        }
        .volume {
            width: 20% !important;
        }
      }
    }