
<table class="watchlist">
    <thead>
        <tr>
            <th class="instrument">نماد</th>
            <th class="volume-th">حجم</th>
            <th class="price-change">تابلو</th>
            <th class="closing-price-change">پایانی</th>
            <th class="best-buy-th">تقاضا</th>
            <th class="best-sell-th">عرضه</th>
            <th class="pb">سربه سر</th>
            <th class="dr-th">بازده</th>
            <th class="gt-th">موجودی&nbsp;(پورتفو%)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of instrumentsTable">
            <td class="instrument">{{item.title}}</td>
            <td class="volume-td">{{item.volume}}</td>
            <td class="price-change-td">
                <div>
                    <span class="left">{{item.percentPanel}}</span>
                    <span class="right">{{item.panel}}</span>
                </div>
            </td>
            <td class="closing-price-change-td">
                <span class="left">{{item.percent}}</span>
                <span class="right">{{item.price}}</span>
            </td>
            <td class="best-buy-td">
                <div class="td-five">
                    <div class="buy"> 
                        <span>{{item.buy}}</span>
                    </div>
                    <div class="left">
                        <span class="left">{{item.currency}}</span>
                        <span class="right">{{item.demandPrice}}</span>
                    </div>
                    <div class="right">{{item.demand}}</div> 
                </div>
            </td>
            <td class="best-sell-td">
                <div class="td-six">
                    <div class="right">
                        <span>{{item.demand}}</span>
                    </div>
                    <div class="left">
                        <span class="left">{{item.currency}}</span>
                        <span>{{item.supply}}</span>
                    </div>
                    <div class="sale">
                        <span>{{item.sale}}</span>
                    </div>
                </div>
            </td>
            <td class="pb">{{item.brEven}}</td>
            <td class="dr-td">{{item.returns}}</td>
            <td class="gt-td">{{item.inv}}</td>
        </tr>
    
    </tbody>
</table>