<div class="current">
    <div class="table-buy">
        <div class="table-cell"> <input type="checkbox"></div>
        <div class="table-cell symbol">نماد</div>
        <div class="table-cell row">ردیف</div>
        <div class="table-cell volume">حجم</div>
        <div class="table-cell ">مانده</div>
        <div class="table-cell price">قیمت</div>
        <div class="table-cell supply">عرضه</div>
        <div class="table-cell validity">اعتبار</div>
        <div class="table-cell operation">عملیات</div>
    
    </div>
    <div class="table-sell">
    <div class="table-cell"> <input type="checkbox"></div>
    <div class="table-cell symbol">نماد</div>
    <div class="table-cell row">ردیف</div>
    <div class="table-cell volume">حجم</div>
    <div class="table-cell">مانده</div>
    <div class="table-cell price">قیمت</div>
    <div class="table-cell demand">تقاضا</div>
    <div class="table-cell validity">اعتبار</div>
    <div class="table-cell operation">عملیات</div>
    </div>
</div>

