// .current {
//     box-sizing: border-box;
//     display: block;
//     width: calc(100% - 2px);
//     height: 23px;
//     padding: 1px 0;
//    
  
//     }
    .table-buy {
        // margin-top: 3px;
        border-radius: 3px;
        display: inline-block;
        float: right;
        width: calc(50% - 5px);
        font-size: 0.75rem;
        font-family: tahoma;
        color: #333;
        height: 100%;
        line-height: 1.3rem;
        background: #baf5da;
        text-align: center;
        margin-inline-start: 5px;
        padding: 0;
        
        div {
            margin: 0;
            height: 100%;
            border-left: 1px solid #fff;
            display: inline-block;
        }

        .table-cell:first-child {
            border-left: 0;
            input {
                margin: 0;
                position: relative;
                top: 2px;
                left: 2px;
                
            }
          
        }
        .symbol {
            width: 10.5%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 99% center no-repeat;
        }
        .row {
            width: 12%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .volume {
            border-color: #999;
            width: calc(20% - 15px);
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .table-cell:nth-child(5) {
            width: 10.5%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat
        }
        .price {
            border-color: #999;
            width: 12%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .supply {
            width: 11%;
        }
        .validity {
            width: 10.5%;
        }
        .operation {
           width: 12.7%;
           border-left: none;
        }
        


    }
    .table-sell {
        // margin-top: 3px;
        border-radius: 3px;
        display: inline-block;
        float: left;
        line-height: 1.3rem;
        font-size: 0.75rem;
        font-family: tahoma;
        width: calc(50% - 10px);
        margin-inline: 5px;
        height: 100%;
        background: #ffb4ae;
        text-align: center;
        color: #333;
       
            div {
                height: 100%;
                border-left: 1px solid #fff;
                display: inline-block;
            }
            .table-cell:first-child {
                border-left: 0;
                input {
                    // margin: 0;
                    position: relative;
                    top: 2px;
                    left: 2px;
                    
                }
               
            }
            .symbol {
                height: 100%;width: 10.5%;
                background: url(	https://www.nahayatnegar.com/images/sort.png) 99% center no-repeat;
            }
            .row {
                width: 12%;
                background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
            }
            .volume {
                border-color: #999;
                width: calc(20% - 15px);
                background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
            }
            .table-cell:nth-child(5) {
                width: 11%;
                background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat
            }
            .price {
                border-color: #999;
                width: 12%;
                background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
            }
            .demand {
                width: 10.5%;
            }
            .validity {
                width: 10.5%;
            }
            .operation {
               width: 12.6%;
               border-left: none;
            }
       
    
        }