.current {
    font-size: .75rem;
    font-family: tahoma;
    color: #333;
    line-height: 1.3rem;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    .table-buy, .table-sell {
        margin-inline: 2px;
        border-radius: 3px;
        div {
            height: 100%;
            border-left: 1px solid #fff;
            display: inline-block;
        }
        .table-cell:first-child {
            border-left: 0;
            width: 15px;
            input {
                position: relative;
                top: 2px;
                left: 2px;
            }
        }
        .symbol {

            width: 10.5%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 99% center no-repeat;
        }
        .row {
            width: 12%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .volume {
            border-color: #999;
            width: calc(20% - 15px);
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .table-cell:nth-child(5) {
            width: 11%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat
        }
        .price {
            border-color: #999;
            width: 12%;
            background: url(	https://www.nahayatnegar.com/images/sort.png) 98% center no-repeat;
        }
        .demand, .supply {
            width: 11%;
        }
        .validity {
            width: 10.5%;
        }
        .operation {
            width: 12.6%;
            border-left: none;
         }

    }
    .table-buy {
        background: #baf5da;
        .table-cell:first-child {
            input {
                margin: 0;
                right: 0px;
            }
        }
    }
    .table-sell {
        background: #ffb4ae;
        }
    }
    @media screen and (max-width: 768px) {
        .current {
            grid-template-columns: auto;
            grid-row-gap: 4px;
        }
    }
   