

.search {
    position: relative;
    margin-top: 55px;
    z-index: 5;
    width: 77%;
    display: inline-block;
}
.button {
    display: none;
}
.vertical {
    border: 1px solid #9197a8;
    width: calc(23% - 4px);
    height: calc(100vh - 94px);
    position: absolute;
    top: 94px;
    left: 0;
}
.main {
    height: calc(100vh - 94px);
    width: 77%;
    position: absolute;
    top: 94px;
    right: 0px;
    left: 4px;
    .section-one {
        border: 1px solid #9197a8;
        width: 100%;
        height: calc(60vh - 94px);
    }
    .section-two {
        border: 1px solid #9197a8;
        width: 100%;
        height: calc(40vh - 4px);
        position: relative;
        top: 4px;
    }
}
@media screen and (max-width: 768px) {
    .vertical {
        border: none;
        width: 6px;
        overflow: hidden;
        transition: all .9s ease;
        background: #fff; 
        z-index: 99;
        &.active {
            width: 50%;
            border: 1px solid #9197a8;
        }
    }
    .search {
        width: 100%;
        }
        .main {
            width: 99.2%;
            height: calc(100vh - 94px);
            .section-one {
                height: calc(60vh - 94px);
            }
            .section-two {
                height: calc(40vh - 4px);
            }
        }
    }
    















