<div class="container">
  <app-header></app-header> 
  <div class="search">
      <app-search-nav></app-search-nav>
  </div>
  <div class="nav-vertical">
    <app-nav-vertical></app-nav-vertical>
  </div>
  <div class="button">
    <img src="https://icongr.am/material/chevron-left.svg?color=9197a8size=18" alt="">
  </div>
  <div class="vertical">
    <app-rules></app-rules>
  </div>
  <div class="main">
      <div class="section-one">
        <app-stock-table></app-stock-table>
      </div>
      <div class="section-two">
        <app-trades></app-trades>
      </div>
 </div>
</div>