

.search {
    position: relative;
    margin-top: 55px;
    z-index: 5;
    width: 77%;
    display: inline-block;
}

.button {
    display: none;
}

.vertical {
    border: 1px solid #9197a8;
    width: calc(23% - 4px);
    height: calc(100vh - 94px);
    position: absolute;
    top: 94px;
    left: 0;
    
}
.main {
    height: calc(100vh - 94px);
    width: 77%;
    position: absolute;
    top: 94px;
    right: 0px;
    left: 4px;
    .section-one {
        border: 1px solid #9197a8;
        width: 100%;
        height: calc(60vh - 94px);
    }

    .section-two {
        border: 1px solid #9197a8;
        width: 100%;
        height: calc(40vh - 4px);
        position: relative;
        top: 4px;
    }
}
@media screen and (max-width: 768px) {
    .vertical {
        // left: 4px !important;
        border: none;
        width: 5px;
        overflow: hidden;
        &.active {
            width: 50%;
            transition: all .5s ease ;
            border: 1px solid #9197a8;
            // display: block;
            z-index: 99;
            background: #fff;
        }
    }
    .search {
        width: 100%;
    }
    // .drop-btn {
    //     display: block;
    //     width: 2px;
    //     background: #9197a8;
    //     position: absolute;
    //     left: 4px;
    //     top: 55px;
    //     height: calc(100vh - 55px);
    //     margin: 0;
    //     padding: 0;
    //     cursor: pointer;
    //     &:hover {
    //         background: #767a86;
    //     }
        
    //     .drop{
    //         margin: 0;
    //         padding: 0;
    //         color: #9197a8;
    //         width: 17px;
    //         position: absolute;
    //         top: 50%;
    //         right: -11px;
    //     }
    // }
    .main {
        width: 100%;
        height: calc(100vh - 94px);
        .section-one {
            height: calc(60vh - 94px);
        }
        .section-two {
            height: calc(40vh - 4px);
        }
    }
}

















// .main {
//     border: 1px solid #9197a8;
//     width: 80%;
//     height: 100vh;
//     float: right;

//     .section-one {
//         border: 1px solid red;
//         width: 100%;
//         height: calc(60vh - 4px);
//     }
    
//     .section-two {
//         border: 1px solid yellow;
//         width: 100%;
//         height: calc(40vh - 4px);
//     }
// }










