<div class="container">
  <app-header></app-header> 
  <div class="search">
      <app-search-nav></app-search-nav>
  </div>
  <div class="nav-vertical">
    <app-nav-vertical></app-nav-vertical>
  </div>
  <div class="button" >
    <img 
      (click)="ActiveVertical = !ActiveVertical"
      src="https://icongr.am/feather/chevron-right.svg?size=16&color=6b6b6b" alt="">
  </div>
  <div class="vertical" [ngClass]="{'active' : ActiveVertical}">
    <app-rules></app-rules>
  </div>
  <div class="main">
      <div class="section-one">
        <app-stock-table></app-stock-table>
      </div>
      <div class="section-two">
        <app-trades></app-trades>
      </div>
 </div>
</div>